body{
    background-color: #D6BE9D;
    background-repeat: no-repeat;
    background-size: cover;
}
a{    
    text-decoration: none;
    color: #060606;
    font-size: 1.3rem;
    margin-right: 25px;
    font-size: 1.5rem;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
    display: flex;

}
.menu{
    background-color: #C4A95E;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content:flex-start;
    padding: 8px;
    align-items:center;
}
.logo{
    width: 100px;
    margin-left: 30px;

}
.menu ul{
display: flex;
justify-content: center ;
flex-grow: 1;
}
/* Responsividade */
@media (max-width: 768px) {
    nav ul {
    flex-direction: column;
    }
    .boas-vindas {
    padding: 30px 10px;
    }
    .servicos {
    padding: 20px 10px;
    }
    .card {
    width: 90%;
    }
    }
    @media (max-width: 480px) {
    header h1 {
    font-size: 1.5em;
    }
    .boas-vindas h2 {
    font-size: 1.5em;
    }
    } 
    /* Menu colorido*/
    nav ul li a:hover {
        color: #DBE800;
        }
        /*PRODUTOS DE SITE*/
        .produtos {
            display: flex;
            gap: 2rem;
            justify-content: center;
        }
        
        .produto {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 1rem;
            text-align: center;
            width: 300px;
        }
        
        .produto img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
        
        .produto h2 {
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        
        .produto p {
            margin-bottom: 1rem;
        }
        
        .produto span {
            display: block;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            color: #000000;
        }
        
        .produto button {
            padding: 0.5rem 1rem;
            background-color: #000000;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }